{% extends 'blog/base.html' %}
{% load static %}

<!-- Title of the page-->
{% block title %} {% endblock title %}

<!--Link CSS files here-->
{% block css %}
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/mediumish.css" rel="stylesheet">
{% endblock css %}


<!-- Content of body-->
{% block content %}
    
{% endblock content %}